html{
    background-color: #f0f0f2;
}
.checkout-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout{
    display: flex;
    width: 70%;
    margin-top: 100px;
    
    
}
.checkout-form{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    background-color: #fefeff;
    margin: 5px;
    padding: 50px;
    border-radius: 5px;
}
.pay-section{
   width: 30%;
   background-color: #fefeff;
   margin: 5px;
   padding: 10px;
   border-radius: 5px;
}
.checkout-form header{
    width: 100%;
    height: 10vh;
}
.checkout-form .input-group{
    width: 50%;
    margin: 10px 0px;
}
.checkout-form .input-group-address{
    margin: 15px 0;
}
.checkout-form .input-group input{
    width: 80%;
    height: 30px;
}
.checkout-form .input-group input:focus{
    outline: none;
}

.checkout-form .input-group-address{
    width: 90%;
}
.checkout-form .input-group-address input{
    width: 100%;
    height: 30px;
}
.checkout-form .input-group-address input:focus{
    outline: none;
}
button{
    background-color: rgb(255,153,0);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    width: 100%;
    margin-top: 50px;

}

.pay-section .cart-summary .cart-details,.shipping-fee,.order-total{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}